<div class="content d-flex">
  <div class="filters d-flex flex-column">
    <input (change)="loadPage(1)" [(ngModel)]="userName" #input type="text" placeholder="Пошук">
    <label (click)="userModFilterFunc('all')">
      <input name="filter" type="radio">
      <span class="checkmark"></span>
      Всі
    </label>
    <label (click)="userModFilterFunc('members')">
      <input name="filter" type="radio">
      <span class="checkmark"></span>
      Постійні
    </label>
    <label (click)="userModFilterFunc('regular')">
      <input name="filter" type="radio">
      <span class="checkmark"></span>
      Звичайні
    </label>
    <input disabled type="text" placeholder="Сортування">
    <label (click)="criterionFilterFunc('alp')">
      <input name="filter2" type="radio">
      <span class="checkmark"></span>
      По алфавіту А-Я
    </label>
    <label (click)="criterionFilterFunc('rev')">
      <input name="filter2" type="radio">
      <span class="checkmark"></span>
      По алфавіту Я-А
    </label>
    <label (click)="criterionFilterFunc('date')">
      <input name="filter2" type="radio">
      <span class="checkmark"></span>
      Даті додавання
    </label>
  </div>
  <div class="users d-flex flex-column">
    <div class="heading d-flex justify-content-between align-items-center">
      <div class="w-100">
      <h2 class="text-center">Аватар</h2>
      </div>
      <h2>Ім'я, Прізвище</h2>
      <h2 class="text-right">Номер телефону</h2>
    </div>
    <app-user-card-one *ngFor="let user of users" [user]="user"></app-user-card-one>

    <nav aria-label="Page navigation" class="align-self-center">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a></li>
        <li class="page-item current"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link"> <span aria-hidden="true">&raquo;</span></a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
