<div class="content row m-0">
  <div class="left col-3 flex-column align-items-center d-flex">
    <!--<img src="" alt="">-->
    <div style="border: 1px solid black; height: 250px; width: 100%"></div>
    <button *ngIf="editing==false;" (click)="edit()"><img style="height: 24px; width: auto; margin-right: 10px;"
                                                          src="../../../../../assets/svg/pencil.png"
                                                          alt="">Редагувати
    </button>
    <button (click)="edit()" *ngIf="editing==true"><img style="height: 24px; width: auto; margin-right: 10px;"
                                                        src="../../../../../assets/svg/pencil.png"
                                                        alt="">Зберегти
    </button>
  </div>
  <div class="right col-9 ">
    <div class="d-flex row m-0">
      <h3 class="col-4">Імя:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">По батькові:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Прізвище:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Номер телефону:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Email:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Соціальні мережі:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Дата народження:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Дата отримання карти:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Номер карти:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Скільки разів орендував:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Скільки годин орендував:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Скільки грошей заплатив:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="offset-4"></h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Кількість бонусів:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="col-4">До: 21.05.04</h3>
    </div>
    <div class="d-flex row m-0">
      <h3 class="col-4">Кількість акційних бонусів:</h3>
      <input type="text" class="col-4" [disabled]="editing==false"
             [ngClass]="{'border-0': editing==false,'border':editing==true}" value="Олег">
      <h3 class="col-4">До: 22.04.02</h3>
    </div>
    <div class="buttons d-flex justify-content-between">
      <button>Зробити постійним</button>
      <button>Видалити клієнта</button>
      <button>Вивести оренди</button>
    </div>
    <div class="rets pt-4">
      <div class="heading d-flex justify-content-between">
        <h3>Дата</h3>
        <h3>Час початку</h3>
        <h3>Тривалість(годин)</h3>
      </div>
      <app-rent-one></app-rent-one>
      <app-rent-one></app-rent-one>
      <app-rent-one></app-rent-one>
      <app-rent-one></app-rent-one>
      <app-rent-one></app-rent-one>
      <app-rent-one></app-rent-one>
      <app-rent-one></app-rent-one>
    </div>
  </div>
</div>
