.wrapper {
  height: 80px;

  margin-bottom: 20px;
}

h3 {
  font-family: Monserrat-Regular;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  text-align: center;
}
.leaved{
  background-color: red;
}
.paid{
  background-color: #ffb014;
}
.active{
  background-color: green;
}
