<div class="content">
  <div class="scroll-button">
    <div class="border-scrolls">
      <a href="#/add-user" (click)="addMember=false;partyBool=false;">Додати користувача</a>
      <span>|</span>
      <a href="#/add-user" (click)="addMember=true;partyBool=false">Додати друга Photopolis</a>
      <span>|</span>
      <a href="#/add-user" (click)="partyBool=true">Додати день бонусів</a>
    </div>
  </div>
  <div class="add-user d-flex flex-column" *ngIf="!partyBool">
    <h2 class="border-bottom border-dark text-center p-1">Додати клієнта</h2>
    <form [formGroup]="userForm" #form (submit)="addUser(form)">
      <label>Прізвище*
        <input formControlName="surname" type="text">
      </label>
      <label>Ім'я*
        <input formControlName="name" type="text">
      </label>
      <label *ngIf="addMember">По батькові*
        <input formControlName="secondName" type="text">
      </label>
      <label>Номер телефону*
        <input formControlName="phone" [textMask]='{mask: this.phoneMask}' placeholder="38 (___)-__-__-___" type="tel">
      </label>
      <label *ngIf="addMember">Дата народження*
        <input formControlName="dateOfBirth" type="date" class="input-date">
      </label>
      <label *ngIf="addMember">Електронна адреса
        <input formControlName="email" type="email" class="input-date">
      </label>
      <label *ngIf="addMember">Соціальні мережі
        <input formControlName="socialMedia" type="text" class="input-date">
      </label>
      <label *ngIf="addMember">Номер карти програми лояльності*
        <input formControlName="cardId" type="text" class="input-date">
      </label>
      <input type="file" id="file" class="d-none" name="img"  accept="image/*" (change)="readUrl($event)">
      <figure [ngClass]="{'min-heigth':urlImg=='empty'}">
        <img *ngIf="urlImg!='empty'"  [src]="urlImg" alt="">
      </figure>
      <label class="align-self-center text-center" for="file"
             style="width: fit-content; margin: 0 auto 20px; padding: 5px 10px; background-color: #ffb014; border: 1px solid black; cursor: pointer">
        Додати фото</label>
      <div class="d-flex justify-content-between">
        <h2 style="color: green" [ngClass]="{'hidden':!added}">-Успішно додано</h2>
        <button  type="submit">Додати</button>
      </div>
    </form>
  </div>
  <div class="add-user d-flex flex-column" *ngIf="partyBool">
    <h2 class="border-bottom border-dark text-center p-1">Додати день бонусів</h2>
    <form [formGroup]="bonusDayForm" (submit)="addDay()">
      <label>
        Назву дня
        <input type="text" formControlName="name">
      </label>
      <label>
        Дату проведення
        <input type="date" formControlName="date">
      </label>
      <label>
        Кількість бонусів для нарахування
        <input type="number" formControlName="bonusesToAdd">
      </label>
    </form>
    <h2 class="text-center">Список активних днів</h2>
    <div class=" kek justify-content-start  d-flex flex-column align-items-end  w-100" *ngFor="let one of bonusDays">
      <div class=" one-day d-flex justify-content-between w-100  pl-3 pr-3">
        <h2>Навза: {{one.name}}</h2>
        <h2>Дата: {{one.date|DatePipe}}</h2>
        <h2>Бонусів: {{one.bonusesToAdd}}</h2>
      </div>
      <button class="border-top-0" (click)="deleteDay(one.id)">X</button>
    </div>
  </div>
</div>
